version: "3.9"

services:
  game_profile:
    container_name: game_profile
    build: 
      dockerfile: Dockerfile
      context: ./game_profiles
    ports:
      - "8000:8000"
    environment:
      PORT: 8000
      MONGO_PROTOCOL: mongodb
      MONGO_URI: mongo:27017
      MONGO_USERNAME: root
      MONGO_PASSWORD: password
    depends_on:
      - db
  profile_overview:
    container_name: profile_overview
    build: 
      dockerfile: Dockerfile
      context: ./profile_overview
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGO_PROTOCOL: mongodb
      MONGO_URI: mongo:27017
      MONGO_USERNAME: root
      MONGO_PASSWORD: password
    depends_on:
      - db
  profile_achievements:
    container_name: profile_achievements
    build: 
      dockerfile: Dockerfile
      context: ./profile_achievements
    ports:
      - "6000:6000"
    environment:
      PORT: 6000
      MONGO_PROTOCOL: mongodb
      MONGO_URI: mongo:27017
      MONGO_USERNAME: root
      MONGO_PASSWORD: password
    depends_on:
      - db
  db:
    container_name: mongo
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: 'root'
      MONGO_INITDB_ROOT_PASSWORD: 'password'